body {
    display: grid;
    grid-template-areas:
        ". header ." 
        ". container ."
        ". dialog .";
    font-family
    : Roboto;
}

div {
    border: 2px solid black;
}

.header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    grid-area: container;
    resize: both;
    overflow: auto;
    display: grid;
    gap: 4px;
    padding: 4px;
    border: 1px solid grey;
    
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin-bottom: 50px;
}

.dialog-section {
    grid-area: dialog;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    border: none;
    cursor: pointer;
}

.new-book-button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.new-book-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.new-book-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.new-book-button:hover span {
  padding-right: 25px;
}

.new-book-button:hover span:after {
  opacity: 1;
  right: 0;
}